* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f5ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transform: scale(1.2);
    transform-origin:  center;
    overflow-y: hidden;
    overflow-x: hidden;
}

i{
    color: #583E8E;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    transform: scale(1.1);
}

.cadastro-box {
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    max-width: 380px;
    width: 100%;
}

.logo {
    width: 70px;
    margin-bottom: 15px;
}

.cadastro-box h2 {
    color: #583E8E;
    margin-bottom: 8px;
}

.subtexto {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 8px 10px;
}

.input-group .icon {
    width: 20px;
    margin-right: 8px;
    opacity: 0.7;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
}

.btn-cadastrar {
    width: 100%;
    padding: 12px;
    background: #583E8E;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastrar:hover {
    background: #432e6a;
}

.login-link {
    font-family: 'Nunito', sans-serif;
    margin-top: 12px;
    font-size: 13px;
    color: #664F9F;
}

.login-link a {
    color: #583E8E;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.senha-linha {
    display: flex;
    gap: 10px;
}

.senha-linha .input-group {
    flex: 1;
}

.linha-dupla {
    display: flex;
    gap: 10px;
}

.linha-dupla .input-group {
    flex: 2;
}

.linha-dupla .input-group.pequeno {
    flex: 1;
}

.senha-linha .input-group {
    margin-bottom: 10px;
}

.aceite-termos {
    text-align: left;
    margin: 8px 0 15px 2px;
}

.aceite-termos label,
.aceite-termos p {
    opacity: 0.53;
    font-size: 12px;
}

.aceite-termos input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    accent-color: #583E8E;
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle;
}

.password-group {
    position: relative;
}

.password-group input {
    padding-right: 35px;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: 583E8E;
}
